.container_card {
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container_card_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F0F4F8;
}

button {
    padding: 10px;
    margin: 20px 15px 0px 0px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #1C3D5A;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #E07A5F;
  }