.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    background-color: #0081A7;
    color: white;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}