.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    background-color: #3ED8A1;
    color: #FFFFFF;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}