.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    color: #fff;
    background-color: #1C1C28;
    border: 1px solid #2E2E3E;
    /* background-color: #0081A7; */
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}