<mat-card class="container_card">
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
      <mat-form-field class="custom-input-field">
        <input matInput class="custom-input" placeholder="Nome"
               [(ngModel)]="product.name" name="name">
      </mat-form-field>
      <mat-form-field class="custom-input-field">
        <input matInput class="custom-input" placeholder="Preço (R$)"
               [(ngModel)]="product.price" name="price">
      </mat-form-field>
    </form>
    <div class="container_card_button">
        <button mat-raised-button (click)="createProduct()">
            Salvar
          </button>
        
          <button mat-raised-button (click)="cancel()">
            Cancelar
          </button>
    </div>
  </mat-card>  