.card-container {
    display: flex;
}

.card-content-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 8%;
    padding: 0 16px;
}

.card-content-product {
    display: flex;
    height: 100%;
    color: #fff;
    background-color: #000;
}

/* .mat-mdc-card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 99%;
    padding: 0 16px;
} */

.mat-card-actions {
    display: flex;
    gap: 1rem;
}

.card-icon .mat-icon {
    font-size: 36px;
    color: #ff6b81;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #FED9B7;
    background-color: #F07167;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: #0081A7;
    color: white;
}