.card_container {
    display: flex;
    gap: 5rem;
    background-color: transparent;
}

.card_content_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    border-radius: 8px 0 0 8px;
    background-color: #fff;
}

.product {
    color: #fff;
    font-size: 1rem;
}

.card_content_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #000;
    border-radius: 0 8px 8px 0;
}

.mat-mdc-card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.mat-card-actions {
    display: flex;
    gap: 1rem;
}

.card-icon .mat-icon {
    font-size: 36px;
    color: #ff6b81;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #FED9B7;
    background-color: #F07167;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: #0081A7;
    color: white;
}