<button mat-raised-button (click)="navigateToProductCreate()">
  Novo Produto
</button>

<mat-card class="card_container" *ngFor="let product of products">
  <mat-card-content>
      <mat-icon class="card_content_icon">edit</mat-icon>
      <mat-card-content class="card_content_actions">
        <div class="product">
          <p>{{product.id}}</p>
          <p>{{product.name}}</p>
          <p>{{product.price | currency: 'BRL':'symbol' }}</p>
        
          <mat-card-actions>
            <button mat-button>
                <a class="edit" [routerLink]="['/products/update', product.id]">
                  <i class="material-icons">edit</i>
                </a>
            </button>
            <button mat-button>
                <a class="delete" [routerLink]="['/products/delete', product.id]">
                  <i class="material-icons">delete</i>
                </a>
            </button>
          </mat-card-actions>
        </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>