table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0081A7;
}

table th {
  color: #FED9B7;
}

table i {
  display: inline-block;
  padding: 0.2rem;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #FF6F61;
}

.delete > i {
    color: #FF4C4C;
}

i:hover {
    background-color: #FFDB58;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: #F07167;
    color: #FED9B7;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: #0081A7;
    color: white;
}