<mat-toolbar class="header mat-elevation-z4">
    <span class="title-group">
        <a routerLink="/">
            <i class="material-icons">{{ icon }}</i>
            {{ title }}
        </a>
    </span>

    <div class="header_menu">
        <button mat-icon-button routerLink="/">
            <mat-icon class="header_menu_icon">home</mat-icon>
            <span class="header_menu_link">Início</span>
        </button>

        <button mat-icon-button (click)="toggleComponentProducts()">
            <mat-icon class="header_menu_icon">store</mat-icon>
            <span class="header_menu_link">Produtos</span>
        </button>
        <!-- <button mat-icon-button routerLink="/products">
            <mat-icon class="header_menu_icon">store</mat-icon>
            <span class="header_menu_link">Produtos</span>
        </button> -->
    </div>
</mat-toolbar>

<div *ngIf="showComponentProducts">
    <app-product-read></app-product-read>
</div>