.header {
    display: flex;
    align-items: center;
    background-color: #0081A7;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FED9B7;
}

.header_menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
    margin-right: 3rem;
}

.header_menu a {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
    color: #FF6F61;
}