.header {
    display: flex;
    align-items: center;
    background-color: #1C1C28;
    padding: 0 1rem;
}

.title-group {
    display: flex;
    align-items: center;
    color: #fff;
}

.title-group a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title-group mat-icon {
    color: #FDCB6E;
}

.spacer {
    flex: 1;
}

.menu-group {
    display: flex;
    gap: 1rem; /* Espaçamento entre os botões */
}

.header_menu {
    display: flex;
    flex-direction: column; /* Ícone acima e texto abaixo */
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header_menu_icon {
    font-size: 2rem;
    color: #FDCB6E;
}

.header_menu span {
    font-size: 1rem;
    color: #fff;
}