.sidenav {
    width: 200px;
    background-color: #00AFB9;
}

.sidenav a {
    color: blue;
}

.sidenav a:hover {
    background-color: #F07167;
}

.sidenav i {
    padding-right: 10px;
    color: #FED9B7;;
}

.container {
    background-color: #F0F4F8;
    color: #F07167;
}

.content {
    padding: 16px;
    color: #FFF;
}