.sidenav {
    background-color: #3E44DB;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.container {
    background-color: #fff;
}

.content {
    padding: 16px;
    color: #FFF;
}