.home {
    background-color: #fff;
}

.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: #4169E1;;
}

.home .subtitle {
    font-size: 1.1rem;
    color: #2F4F4F;
}